<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Crear nuevo contacto</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Nombre *</label>
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required>
    </p>
    <p>
      <label>Apellido *</label>
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required>
    </p>
    <p>
      <label>Correo electrónico *</label>
      <input id="name" class="form-control" type="text" ng-model="contact.email" required>
    </p>
    <p>
      <label>Teléfono</label>
      <input id="name" class="form-control" type="text" ng-model="contact.phone">
    </p>
    <p>
      <label>Dirección</label>
      <input id="name" class="form-control" type="text" ng-model="contact.address">
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-primary" ng-click="saveContact(contact)">Guardar</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Regresar</button>
    </p>
  </div>
</div>
